<html>
<head>
<title>BIODATA</title>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
table#t01 {
    width: 100%;    
    background-color:#FFFACD;
}
table#t02 {
    width: 100%;
    text-align:center;    
    background-color:#FFFACD;
}
table#t03 {
    width: 100%;
    text-align:center;    
    background-color:#FFFACD;
}
table#t04 {
    width: 100%;
    text-align:center;    
    background-color:#FFFACD;
}


</style>
</head>
<body>

<h1><center><u>BIODATA</u></center></h1>
<!-- This is a comment -->

<table style="width:100%">
 <caption style="color:blue;font-family:verdana;font-size:150%;text-align:left;">1.Introduction</caption>
 <table id="t01">


<tr>
    <td>Name</td>
    <td>Anushi Singh</td> 
   
 </tr>
  <tr>
    <td>Qualifications</td>
    <td>B.Tech CSE</td> 
    
  </tr>
  <tr>
    <td>College</td>
    <td>Jaypee University of Engineering and Technology</td> 
    
  </tr>
  
  <tr>
    <td>Session</td>
    <td>2013-17</td> 
    
  </tr>
  <tr>
    <td>CGPA</td>
    <td>7.5</td> 
    
  </tr
  
</table>

<table style="width:100%">
 <caption style="color:blue;font-family:verdana;font-size:150%;text-align:left;"><br>2.Qualifications</caption>
 <table id="t02">
<tr>
    <th>S.No.</th>
    <th>Education</th>
    <th>Institute</th>
    <th>Percentage</th> 
	
   
 </tr>

<tr>
    <td>1.</td>
    <td>10th Board</td>
	<td>The Sapience School,Vikasnagar,Dehradun,Uttarakhand</td>
    <td>95</td>
   
 </tr>
  <tr>
    <td>2.</td>
    <td>12th Board</td>
  <td>Guru Nanak Mission Public School, Paonta Sahib,Himachal Pradesh</td>
    <td>86.5</td>	
    
  </tr>
  <tr>
    <td>3.</td>
	<td>B-Tech CSE</td>
    <td>Jaypee University of Engineering and Technology,Guna,Madhya Pradesh</td> 
	<td>7.5</td>
    
  </tr>
</table>

<table style="width:100%">
 <caption style="color:blue;font-family:verdana;font-size:150%;text-align:left;"><br>3.Technical Knowledge</caption>
 <table id="t03">
<tr>
    <th>Field</th>
    <th>Knowledge</th>
	
   
 </tr>

<tr>
    <td>Languages Known</td>
    <td>C,C++,JAVA,HTML</td>
   
 </tr>
  <tr>
    <td>Operating System</td>
    <td>Windows, UNIX</td>
  
    
  </tr>
   <tr>
    <td>Designing Tools</td>
    <td>Adobe Photoshop</td>
  
    
  </tr>
  
</table>

<table style="width:100%">
 <caption style="color:blue;font-family:verdana;font-size:150%;text-align:left;"><br>4.Projects</caption>
 <table id="t04">
<tr>
    <th>Year</th>
    <th>Project Name</th>
	
   
 </tr>

<tr>
    <td>1st</td>
    <td>Scientific Calculator</td>
   
 </tr>
  <tr>
    <td>3rd</td>
    <td>Automatic Subtitle Generator</td>
  
    
  </tr>
   
  
</table>


</body>
</html>